services:
  postgres:
    env_file:
      - .env
    image: postgres:15-alpine
    container_name: cereon_pg
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    env_file:
      - .env
    image: redis:7-alpine
    container_name: cereon_redis
    restart: unless-stopped
    command:
      ["redis-server","--save","60","1","--appendonly","yes","--appendfsync","everysec","--loglevel","warning"]
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  neo4j:
    image: neo4j:5.23
    container_name: cereon_neo4j
    restart: unless-stopped
    environment:
      NEO4J_AUTH: "neo4j/${NEO4J_PASSWORD}"
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_dbms_security_procedures_unrestricted: "apoc.*"
      NEO4J_dbms_security_procedures_allowlist: "apoc.meta.data,apoc.*"
    ports: ["7474:7474","7687:7687"]
    volumes:
      - neo4jdata:/data
      - neo4jlogs:/logs
    healthcheck:
      test: ["CMD-SHELL", "cypher-shell -u neo4j -p ${NEO4J_PASSWORD} -a bolt://localhost:7687 \"RETURN 1\" || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 6



volumes:
  pgdata:
  redisdata:
  neo4jdata:
  neo4jlogs:
